<!DOCTYPE html>
 <html>
  <body>
    <center>
    <h1>My Account Info</h1>

     <table>
       <tr>
         <td><h3>Account Address :</h3></td>
         <td><%=det.addr%></td>
       </tr>
       <tr>
         <td><h3>Account Holder :</h3></td>
         <td><%=det.name%></td>
       </tr>
       <tr>
         <td><h3>Ether :</h3></td>
         <td><%=det.value%><td>
         </tr>
       </table>
       <h3>Send Ether From Here</h3>
       <a href="/welcome/<%=det.addr%>">Click Here</a>

     </center>
   </body>
   </html>
