<!DOCTYPE html>
 <html>
<center>
  <head>
     <title>DashBoard</title>


  </head>
<h1>Welcome To DashBoard</h1>

   <a href="/login">LogIn</a><br>
   <a href="/register">Register</a><br>
 </center>
 </html>
