<!DOCTYPE html>
 <html>

  <head>

     <title>Transaction Portal</title>
   </head>

   <body>
     <center>
      <h1>Transaction Portal</h1>
<form method="POST">

  To:
   <input type="text"  name="to"/>
  Amount:
   <input type="text" name="ether"/><br>

   <input type="submit" name="submit" value="send"/><br>
 </form>

</center>
  </body>

    </html>
